/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
}

/* Encabezado */
header {
    background-color: #282828;
    padding: 20px;
    text-align: center;
    border: 3px solid #00b4d8; /* Contorno al título */
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #000000; /* Sombra adicional para destacar */
}

header a{
    text-decoration: none;
    color: #ffffff;
}

/* Contenedor principal */
.container {
    display: flex;
    height: 100vh;
}

/* Barra lateral de navegación */
.sidebar {
    width: 20%;
    background-color: #333;
    padding: 20px;
    border-right: 2px solid #00b4d8; /* Línea divisoria entre la barra y el contenido principal */
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
    border-bottom: 1px solid #00b4d8; /* Líneas de separación entre las magnitudes */
    padding-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.2em;
}

.sidebar ul li a:hover {
    color: #00b4d8;
}


/*
-------------------------------------------------------------
|                       AREA PRINCIPAL                      |                  
-------------------------------------------------------------
*/


/* Área principal */
main {
    margin-left: 150px;
    align-content: center;
    width: 80%;
    padding: 35px;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos */
}

#chart-container, #api-data-container {
    width: 100%;
    background-color: #333;
    padding-right: 200px;
    border-radius: 8px;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

/* Contenedor de los datos de la API */
#api-data {
    color: #f0f0f0;
}

/*
-------------------------------------------------------------
|                       CONTENIDO PRINCIPAL                 |                  
-------------------------------------------------------------
*/

/* Contenedor de las tarjetas */
.tarjeta-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
    gap: 20px; /* Espacio entre las tarjetas */
}

/* Estilo de cada tarjeta */
.tarjeta {
    background-color: #444; /* Color de fondo de la tarjeta */
    border: 1px solid #00b4d8; /* Borde de la tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    width: calc(33% - 20px); /* Ancho de las tarjetas, ajusta según lo necesites */
   
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra de la tarjeta */
    color: #f0f0f0; /* Color del texto */
}

.tarjeta img {
    width: 298px;   /*Ajusta manualmente el tamaño de la imagen al de la tarjeta*/
	height: 400px;  /*Ajusta manualmente el tamaño de la imagen al de la tarjeta*/
    object-fit: cover;  /*Acorta el tamaño de la imagen si es más grande que otras*/
    border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

.tarjeta h3 {
    margin: 10px 0; /* Espacio alrededor del título */
    text-transform: capitalize; 
    text-align: center;
}

.tarjeta p {
    text-align: center;
    font-size: 0.9em; /* Tamaño de la descripción */
}
