/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
}

/* Encabezado */
header {
    background-color: #282828;
    padding: 20px;
    text-align: center;
    border: 3px solid #00b4d8; /* Contorno al título */
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #000000; /* Sombra adicional para destacar */
}

header a{
    text-decoration: none;
    color: #ffffff;
}

/* Contenedor principal */
.container {
    display: flex;
    height: 100vh;
}

/* Barra lateral de navegación */
.sidebar {
    width: 20%;
    background-color: #333;
    padding: 20px;
    border-right: 2px solid #00b4d8; /* Línea divisoria entre la barra y el contenido principal */
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
    border-bottom: 1px solid #00b4d8; /* Líneas de separación entre las magnitudes */
    padding-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.2em;
}

.sidebar ul li a:hover {
    color: #00b4d8;
}

/* Área principal */
main {
    width: 80%;
    padding: 40px;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos */
}

#chart-container, #api-data-container {
    width: 100%;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

/* Contenedor de los datos de la API */
#api-data {
    color: #f0f0f0;
}
